nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.phone {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 991px) {
  nav {
    background: gray;
    padding: 40px 50px;
  }

  .phone {
    display: none;
  }

  .desktop {
    display: block;
  }
}