.app {
  background: url('https://blackrockdigital.github.io/startbootstrap-grayscale/img/bg-masthead.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
}
