.app {
  background: url('https://blackrockdigital.github.io/startbootstrap-grayscale/img/bg-masthead.jpg');
  background-position: left;
  background-size: cover;
  min-height: 100vh;
}

nav {
  background: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.brand {
  font-size: large;
  font-weight: bold;
}

.large {
  display: none;
}

.drawer {
  position: fixed;
  top: 50px;
  right: 0;
  width: 0px;
  background: #333;
  color: #eee;
  height: calc(100vh - 50px);
  transition: 1s;
}

.open {
  width: 100px;
  padding: 10px;
}

@media (min-width: 650px) {
  .large {
    display: initial;
  }

  .small {
    display: none;
  }

  nav {
    background: transparent;
    height: 100px;
    color: white;
    padding: 0 50px;
  }
}